<script src="scoreboard.js"></script>
<table>
  <tbody>
  {{#each activeUsers}}
  <tr><td style="background-color: {{colour}}" id="user-{{id}}" data-score="{{score}}"><img src="{{decompress compressed}}"> <span>{{score}}</span></td></tr>
  {{/each}}
  </tbody>
</table>